repos:
  - repo: local
    hooks:
      - id: clippy
        name: clippy
        entry: scripts/pre-commit-clippy.sh
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff
        name: ruff
        entry: scripts/pre-commit-ruff.sh
        language: system
        pass_filenames: false
        always_run: true
